.card-main {
  box-shadow: none;
  .service-main-image {
    border-radius: 5px;
    .Featured-label-box {
      padding: 12px;
      .Featured-label {
        width: fit-content;
        background-color: #000000;
        color: #ffffff;
        padding: 3px 10px;
        padding-top: 5px;
        font-size: 14px;
        font-family: "Inter", sans-serif;
        border-radius: 5px;
        font-weight: 600;
        transition: all 1s;
      }
      .Featured-label:hover {
        background-color: #004d79;
      }
    }
  }
  .card-Content-service {
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
    .description-box {
      display: block;
      text-align: left;
      cursor: pointer;
      h6 {
        font-size: 22px;
        font-weight: 600;
        font-family: "Josefin Sans", sans-serif !important;
        color: #000000;
        transition: all 1s;
      }
      span {
        font-size: 14px;
        font-weight: 300;
        font-family: "Inter", sans-serif;
        color: #687693;
        letter-spacing: 0.27px;
      }
      .h6:hover {
        color: #004d79;
      }
      .price {
        font-size: 24px;
        font-weight: 600;
        font-family: "Josefin Sans", sans-serif !important;
        color: #004d79;
      }
    }
    .read-more {
      border: 1px solid #a1a1a1;
      border-radius: 5px;
      padding: 6px 15px;
      display: flex;
      align-items: center;
      margin-top: 12px;
      cursor: pointer;
      width: fit-content;
      text-align: left;
      transition: all 0.4s;
      &:hover {
        border: 1px solid #212121;
        background-color: #212121;
        color: white;
        svg {
          fill: #ffffff !important;
        }
        svg path {
          fill: #ffffff !important;
        }
        svg plygon {
          fill: #ffffff !important;
        }
        svg circle {
          fill: #ffffff !important;
        }
      }
      h3 {
        font-size: 14px;
        margin-bottom: 0px;
        margin-right: 10px;
      }
      img {
        width: 26px;
        height: auto;
      }
    }
  }
}
